# Copy to .env.prod and fill values for production.
SA_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DEVEXPRESS_LICENSEKEY=CHANGE_ME_LICENSE_KEY

# Optional overrides
APP_PORT=80
DB_NAME=Visa2026DbProd
APP_IMAGE_TAG=1.0.0.15
IMPORTER_IMAGE_TAG=latest
