<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Applications>
    <Application Name="Visa2026Blazor"
                 Url="http://localhost:5000"
                 PhysicalPath="[ConfigPath]\..\..\Visa2026.Blazor.Server"
                 Configuration="EasyTest"
                 Browser="Edge"
                 WebDriverPath="[ConfigPath]\.webdrivers"
                 IgnoreCase="true" />
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase"
              Server="(localdb)\mssqllocaldb"
              DBName="Visa2026EasyTest">
      <Login UserID="sa" Password="qwertyuiop" />
    </Database>
  </TestDatabases>
</Options>
