<?xml version="1.0" encoding="utf-8" ?>
<EasyTestSettings>
    <Applications>
        <Application Name="Visa2026Blazor"
                     TypeOfApplication="DevExpress.ExpressApp.EasyTest.BlazorAdapter.BlazorAdapter, DevExpress.ExpressApp.EasyTest.BlazorAdapter.v25.2"
                     Url="http://localhost:5000"
                     Browser="Edge"/>
    </Applications>
    <Databases>
        <Database Name="Visa2026EasyTest"
                  DBName="Visa2026EasyTest"
                  Login="sa"
                  Password="qwertyuiop"
                  Server="(localdb)\mssqllocaldb"
                  DatabaseType="MSSqlServer" />
    </Databases>
</EasyTestSettings>
